$color-type-normal: #a4acaf;
$color-type-fighting: #d56723;
$color-type-flying: #3dc7ef;
$color-type-flying-secondary: #bdb9b8;
$color-type-poison: #b97fc9;
$color-type-ground: #f7de3f;
$color-type-ground-secondary: #ab9842;
$color-type-rock: #a38c21;
$color-type-bug: #729f3f;
$color-type-ghost: #7b62a3;
$color-type-steel: #9eb7b8;
$color-type-fire: #fd7d24;
$color-type-water: #4592c4;
$color-type-grass: #9bcc50;
$color-type-electric: #eed535;
$color-type-psychic: #f366b9;
$color-type-ice: #51c4e7;
$color-type-dragon: #53a4cf;
$color-type-dragon-secondary: #f16e57;
$color-type-dark: #707070;
$color-type-fairy: #fdb9e9;
$color-type-stellar: #40b5a5;
$color-type-unknown: #68a090;

$color-font-white: #fff;
$color-font-dark: #212121;

$color-shadow-box-light: #212121;
$color-shadow-box-dark: #ffcb0078;

$background-color-white: #fff;
$background-color-dark: #212121;