.pokemon-stats-bar-component {
    .divMarker {
        animation: gradient 2s infinite;
        animation-direction: reverse;
        animation-timing-function: linear;
        -webkit-animation: gradient 2s infinite;
        -webkit-animation-direction: reverse;
        -webkit-animation-timing-function: linear;
    }

    @keyframes gradient {
        60% {
            opacity: 0.7;
            border: 1px solid #6b6b6b;
        }
        100% {
            opacity: 1;
            border: 1px solid #9b9b9b;
        }
    }
}